language: node_js
node_js:
- '12'
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - libbluetooth-dev
script:
- npm install
- ./node_modules/.bin/prebuild
- ./node_modules/.bin/prebuild --runtime=electron --target=6.1.11

deploy:
  provider: releases
  api_key:
    secure: GXxQ7HChdWgMdly4R6f+aRcK9MNr0hBeNJdhsnFnuaH4B580p9b4NOChVAJDh0cgWKkNkLxtZiiqNLlw49pRAlft3lmkQ8sgjkYlZJJKQ782C01m7xYYixvDx+fsBNK8hdDQGDwRwFC3qIbbhU5L5Kxsu74w1G4auyCFYs0h2ygc9bC0kn0PdRejb6XxrAfedsJAWs3A5pR4i60kTgeKKyRYZDC8orw7rElRgmQayTsYDES8w8x9V/tpeaBpTl5SH3qwHaLyHmDbstO9PtoELbtU+cfIzKHPjUa+dkj7QyyPQbFexXwVH1xoa3kEguRCLFKXNcRZq3L90BjQQVqcERbbarXJ91LR4wvqRWs1VJDEEJC1me2Wllpv7PxfVOwCvGRbLnX7FC0ot4DpZITiPoykhBKyUdysWTOcOiqRBbvVl13/ydkhAZZ4OlUdaJA00+hs6mUcg2HXfqf8wjJaE6cHf5DXEObmlriFABvfxwlzKWGUKAFHjEmp0ye6Tjj6hPsVQAfWVZpSS2Pl1dKUk9oE9FjLvMG1qcDCnL0oAzz9ytA64yrLsPLsHVlN2SPwInEazdor6uaB0c+cMIwEw34pzOIlSzR5S3hwPmT6azha9IwZ2q741ePmY4OKgdYXbl2hydSB2q6uWggkzOw4uttrR1USgCZRgtoZoaCxP7c=
  file: prebuilds/*.tar.gz
  # on:
  #   repo: PatRedway/bluetooth-classic-serialport-client
  skip_cleanup: 'true'
