branches:
  only:
    - master

version: 1.0.{build}-{branch}

environment:
  node_pre_gyp_accessKeyId:
    secure: WAHfHKrvPh/JvZHzXnjz0DRxQLOHnfZndqPr4j47spE=
  node_pre_gyp_secretAccessKey:
    secure: /BrCRWOuBZYBa8g5KQWm5H+yi54Tyzp/a+JJQ3yUGU11YxWaj60tLWkCjmNiO4ef
  MSVS_VERSION: 2017
  matrix:
    - nodejs_version: "12"

platform:
  - x64
  - x86

install:
  - ps: Install-Product node $env:nodejs_version $env:Platform
  - npm -g install npm@latest
  - if "%PLATFORM%" == "x64" SET PATH=C:\Python27-x64;%PATH%
  - if "%PLATFORM%" == "x86" SET PATH=C:\python27;%PATH%

build_script:
  - npm install --build-from-source
  - ps: >-
      if ($env:APPVEYOR_REPO_TAG -eq $true) {
        ./node_modules/.bin/node-pre-gyp package publish
      }

artifacts:
  - path: 'build\stage\*.tar.gz'

deploy:
  provider: S3
  access_key_id: WAHfHKrvPh/JvZHzXnjz0DRxQLOHnfZndqPr4j47spE=
  secret_access_key: /BrCRWOuBZYBa8g5KQWm5H+yi54Tyzp/a+JJQ3yUGU11YxWaj60tLWkCjmNiO4ef
  bucket: bluetooth-classic-serialport-client
  region: eu-west-3
  folder: release
