version: 1.0.{build}-{branch}

environment:
  GITHUB_TOKEN:
    secure: nUd8Non85wvAfm3rkE7v1IzYU624x+7s0BCFtG1T6C+ykqhiZPKT6uW5AdeNxMHW
  MSVS_VERSION: 2017
  matrix:
    - nodejs_version: "12"

platform:
  - x64
  - x86

install:
  - ps: Install-Product node $env:nodejs_version $env:Platform
  - npm -g install npm@latest
  - if "%PLATFORM%" == "x64" SET PATH=C:\Python27-x64;%PATH%
  - if "%PLATFORM%" == "x86" SET PATH=C:\python27;%PATH%

build_script:
  - npm install
  - ps: >-
      if ($env:APPVEYOR_REPO_TAG -eq $true) {
        ./node_modules/.bin/prebuild
        ./node_modules/.bin/prebuild --runtime=electron --target=6.1.11
        ./node_modules/.bin/prebuild --upload-all $env:GITHUB_TOKEN
      }